@charset "UTF-8";
@namespace epub "http://www.idpf.org/2007/ops";

html {
	font : normal normal normal 100%/1.4 Perpetua, Baskerville, "Big Caslon", "Palatino Linotype", Palatino, "URW Palladio L", "Nimbus Roman No9 L", serif
}

html,
body {
	margin : 0;
	padding : 0

}

caption,
tbody th {
	text-align : left
}

em,
[title="id est"],
[title="exempli gratia"] {
	font-style : italic
}

h1,
h2,
h3,
h4,
h5,
h6,
.part {
	font-family : Constantia, "hoefler text", "palatino linotype", serif;
	margin : 1.4em 0 0
}

h1,
h2,
h3,
h4,
h5,
h6,
.formula,
.part {
	page-break-after : avoid;
	page-break-inside : avoid
}

h1 + p,
h2 + p,
h3 + p,
h4 + p,
h5 + p,
h6 + p {
	page-break-before : avoid
}

h1,
h2,
h3,
h4,
h5,
h6,
tbody th {
	font-weight : inherit
}

h1 {
	font-size: 1.5em
}

h1,
h2:not(.formula),
.part {
	text-align : center
}

h2,
h3,
h4,
h5,
h6 {
	font-size : inherit
}

h1 span::before,
.exp::before,
.part span::before {
	content : "\A"
}

h2:not(.formula),
.first-words {
	font-variant : small-caps
}

img {
	height : auto;
	width : auto;
	max-height : 100%;
	max-width : 100%
}

ol,
ul {
	margin : 0;
	padding : 0 1em 0 0
}

mark {
	background-color : inherit;
	font-style : italic
}

mark::after {
	content: "]"
}

mark::before {
	content: "[Editor’s note: "
}



p {
	margin : 0
}

p + p,
p + .inline-list,
.inline-list + p {
	text-indent : 1em
}

ul {
	list-style-type : none;
	padding-left : 1em
}

sup {
	font-size : .85em;
	line-height : 0 /* Elements that have a ‘vertical-align’ other than baseline or a position value will expand their parent element’s line-height unless their own line-height is set to ‘0’ */;
	position : relative;
	vertical-align : baseline; /* Nullify common user-agent ‘sub’ and ‘super’ defaults */
	top : -.1em
}

tbody th {
	padding-right : 1em
}

table {
	border-collapse : collapse;
	border-spacing : 0;
	page-break-inside : avoid
}

thead {
	display : none
}

a:link,
a:visited,
a:active,
a:link:hover,
a:visited:hover {
	background-color : inherit
}

a:link,
a:visited,
a:active {
	color : inherit
}

a:link { /* Unvisited links */
	border-bottom : .05em solid blue;
	padding-bottom : .005em;
	text-decoration : none
}

a:visited { /* Visited links */
	border-color : purple
}

a:link:hover {
	color : blue
}

a:visited:hover {
	color : purple
}

a:active { /* As a link is activated. Moves the text down as though a button were depressed */
	position : relative;
	top : .1em
}

a:not([href^="http"],[href^="mailto"])::before {
	content : "§\A0";
	font-size : .75em;
	line-height : 0;
	position : relative;
	vertical-align : baseline;
	top : -.1em
}

.exp {
	text-transform : none
}

.exp::before {
	white-space : pre
}

h1 span {
	font-size : .8em
}

h1 span::before,
.part span::before {
	display : block
}

.formula,
.part {
	text-transform : uppercase
}

.formula {
	font-size : inherit
}

.formula::before {
	content : attr(id) "—"
}

ol {
	counter-reset : item;
	list-style : none;
	padding-left : 1em
}

ol > li {
	display : block;
	position : relative
}

ol > li::before {
	content : counter(item) ".";
	counter-increment : item;
	left : -1em;
	position : absolute
}

ol > li > ol > li {
	left : 1.4em
}

ol > li > ol > li::before {
	content : counter(item, upper-roman) ".";
	left : -1.4em
}

.inline-list li,
.inline-list ol,
.inline-list p,
.inline-list ul {
	display : inline
}

.inline-list li::before {
	display : inline;
	left : 0;
	position : relative
}

.inline-list ol,
.inline-list ul {
	padding-left : 0
}

.inline-list ol > li::before,
.inline-list ul > li::before {
	content : "(" counter(item) ") "
}

.part {
	font-size : 2em
}

.copyright,
.title {
	text-align : center
}

.copyright p + p,
.title p + p {
	text-indent : 0
}

.publisher {
	text-align : center;
	text-indent:0
}

.publisher::before {
	background : url("../images/logo.png") 50%/2em no-repeat;
	content : "";
	display : block;
	height : 2rem;
	margin : .7em auto;
	width : auto
}

.subtitle {
	text-transform : initial
}

.title p {
	margin-top : 1.4em
}

@page {
	padding : 0;
	orphans : 2;
	widows : 2
}